<script>
export default {
  data() {
    return {
      count: 0,
    };
  },
};
</script>

<template>
  <button class="border-2 p-2 bg-red-300" @click="count++">
    You clicked me {{ count }} times.
  </button>
</template>
