<script>
export default {
  data() {
    return {
      show: true,
    };
  },
  emits: ["test"],
};
</script>

<template>
  <div class="m-2">
    <ul class="flex ml-2 items-center">
      <li>gmail</li>
      <li class="mx-4">images</li>

      <li>
        <!-- <button @click="$emit('add', Math.random())">Add Math.random()</button> -->
        <button
          @click="
            {
              if (show === true) {
                show = false;
                $emit('test', true);
              } else {
                show = true;
                $emit('test', false);
              }
            }
          "
          class="bg-blue-500 px-4 py-2 rounded-md"
        >
          ገባ
        </button>
      </li>
    </ul>
  </div>
</template>
