<script>
export default {
  data() {
    return {
      count: 0,
    };
  },
  props: ["test"],
};
</script>

<template>
  <div class="flex flex-col items-center">
    <img
      v-show="test"
      class="object-contain w-[300px]"
      src="../assets/google.png"
    />
    <input
      class="border-2 border-black rounded-full px-4 py-2 w-[500px]"
      type="text"
    />
    <div>
      <button class="btn">
        <!-- <router-link to="/">Go to Home</router-link> -->
      </button>
      <button class="btn">I'm feeling lucky</button>
    </div>
  </div>
</template>
