<script>
import Search from "./components/Search.vue";
import Header from "./components/Header.vue";
import Navbar from "./components/Navbar.vue";

export default {
  data() {
    return {
      show: false,
    };
  },
  components: {
    Search,
    Header,
    Navbar,
  },
};
</script>

<template>
  <div class="flex justify-end">
    <div>
      <Navbar
        @test="
          (value) => {
            console.log(value);
            show = value;
          }
        "
      />
    </div>
  </div>
  <div class="flex justify-center items-center h-screen">
    <Search :test="show" />
  </div>
</template>
